/* 웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;500;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* a reset */
a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    font: 14px "Noto Sans KR", sans-serif;
}

.en {
    font-family: "Exo 2", sans-serif;
}
